/*Styles CSS INDEX*/
*{
    padding: 0px;
    margin: 0px;
    font-family: "Afacad Flux", sans-serif;
   
}
.PrincipalContainer{

display: flex;
flex-direction: column;

}

/*CSS img General*/
img{

    height: 20px;
    width: 20px;
    margin-bottom: 10px;
}

/*CSS nav and lists*/
.MenuBarr{
    
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;  


}
.icon{
    grid-column: 1;
    align-content: center;
    
}
.img-icon-cod{
    margin-top: 1%;
    margin-left: 25%;
    width: 65px;
    height: 65px;

}
.menu{
    grid-column: 2;
    
}

.nav-list{

    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding-left: 55%;
    
    grid-gap: 2%;
    
}
.Option1{
    margin-top: 35%;    
    margin-left: 15%;
    font-size: 20px;
    list-style: none;
}
.Option2{
    margin-top: 35%;
    margin-left: 5%;
    font-size: 20px;
    list-style: none;
}
.Option3{
    margin-top: 35%;
   
    font-size: 20px;
    list-style: none;    
}
.headerImg{
     width: 100%;
     height: 600px;
     background-image: url("img/header.jpg");
     background-position: center;
    
    align-content: center;
}
.button-img{
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    margin-top: 10%;
    height: 60px;
    padding-top: 2%;
    border: 2px solid white;
}
.projects-redirect{
    color: white;
    font-style: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
}
/*CSS Section 1*/

.section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects{
    
   width: 100%;
   text-align: center;
   font-size: 2.8rem;
    font-weight: 500;
   padding-top: 5%;
}
.imgs-projects{
padding-left: 10%;
margin-top: 5%;



}
/*imgs*/
.project1{
    
    width: 30%;
    height: 30%;
}
.project2{
    
    width: 30%;
    height: 30%;
}
.project3{
    
    width: 30%;
    height: 30%;
}

/* CSS SECTION 2 */

.section2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about{

    margin-top: 15%;
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    text-transform:uppercase;
    font-weight: 500;
}
.articles-containers{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.article1{
    width: 40%;
    margin-left: 15%;
}
.experience-text{
    width: 100%;
    
    
    font-size: 1.9rem;
    font-weight: 500;
    
}
.list-article{

    margin-top: 5%;

}

.objectListArticle1{
margin-top: 3%;
list-style: none;
font-size: 20px;
}
.objectListArticle2{
    font-size: 20px;
   margin-top: 3%; 
list-style: none;
}
.objectListArticle3{
    font-size: 20px;
  margin-top: 3%;  
 list-style: none; 
}

.article2{
  
    width: 40%;
    margin-left: 2%;
    margin-right: 8%;
}

.about-text{
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 500;
}
.text-article2{
    margin-top: 3%;
    font-size: 1rem;
    line-height: 1.7em; 
    
}

/* CSS SECTION 3 */

.section3{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.contact-title{
    width: 100%;
    text-align: center;
    text-transform:uppercase;
    margin-top: 20%;
    font-weight: 500;
    font-size: 30px;
}

.icons-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
    
}

.icons-contac1{
  margin-top: 2%;
  flex: 2 ;
  
}
.map-icon{
    width: 70px;
    height: 70px;
    margin-left: 40%;
}
.mapa-text{
    margin-left: 35%;
    font-size: 1.8rem;
}
.icons-contact2{
    margin-top: 2%;
    
    flex: 2;
}

.email-icon{
    width: 70px;
    height: 70px;
    margin-left: 40%;
}
.email-text{
    margin-left: 40%;
    font-size: 1.8rem;
}

.icons-contact3{
    margin-top: 2%;
    flex: 2;
   
}

.cel-icon{
    width: 70px;
    height: 70px;
    margin-left: 40%;
}

.cel-text{
    margin-left: 35%;
    font-size: 1.8rem;
}

footer{
    margin-top: 10%;
}

.footer-text{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 5%;
}

.github{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

/* MEDIA QUERY */

@media (max-width:700px){

  /* MENU */
    .MenuBarr{
    
        display: grid;
        width: 50%;
        grid-template-columns: auto ;  
    
    
  
}.nav-list{

    display: grid;
    grid-template-columns:70px 70px 70px;
    
}
.Option1{
    margin-top: 35%;    
    
    font-size: 20px;
    list-style: none;
}
.Option2{
    margin-top: 35%;
    margin-left: 20%;
    font-size: 20px;
    list-style: none;
}
.Option3{
    margin-top: 35%;
   
    font-size: 20px;
    list-style: none;    
}

/* Seccion 2 */

.articles-containers{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
   
}

.article1{
    width: auto;
   
}
.experience-text{
    
    width:100%;
    
    font-size: 1.9rem;
    font-weight: 500;
    
}
.list-article{

    display: flex;
    flex-direction: column;
    width: 100%;

}

.article2{
  
   width: auto;
   
   
}
.about-text{    
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.text-article2{
    margin-left: 5%;
    width: 100%;
    text-align: center;
}

/* SECCION 3 */

.icons-contac1{
    margin-top: 2%;
    flex: 1 ;
    
  }
  .map-icon{
      width: 30px;
      height: 30px;
      margin-left: 40%;
  }
  .mapa-text{
      margin-left: 25%;
      font-size: 1.2rem;
  }
  .icons-contact2{
      margin-top: 2%;
      
      flex: 1;
  }
  
  .email-icon{
      width: 30px;
      height: 30px;
      margin-left: 40%;
  }
  .email-text{
    margin-left: 35%;
    font-size: 1.2rem;
  }
  
  .icons-contact3{
      margin-top: 2%;
      flex: 1;
     
  }
  
  .cel-icon{
      width: 30px;
      height: 30px;
      margin-left: 40%;
  }
  
  .cel-text{
    margin-left: 25%;
    font-size: 1.2rem;
  }
}

